<%- include('partials/header') %>
<%- include('partials/navbar') %>


<div style="z-index: 1; position: absolute;">


  <br />
    <br />
      <br />
        <br />
          <br />
          <br />
          <br />

  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-2">
        </div>
      <div class="col-md-2">
        <h2 id="creditText">credits available!</h2>
        <button id="creditButton">Claim your credits!</button>
      </div>
      <div class="col-md-4" style="height:300px; overflow:auto;">
        <a class="twitter-timeline" href="https://twitter.com/Riding_Retro?ref_src=twsrc%5Etfw">Tweets by Riding_Retro</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row" style="margin-top:15px">
      <div class="col-md-2">
      </div>
      <div class="col-md-4" id="shoutout">
        <a href="https://form.jotform.co/90231556985868">
        <img class="bigSquareButton col-md-12 align=" center" src="https://raw.githubusercontent.com/musicis3965/RRRresources/master/record%20a%20shoutout.jpg" alt="shoutoutButton">
        </a>
        <p class="display-3" style="color: white; font-size: 3rem; text-shadow: 2px 2px 8px #111111;"><strong>Requires 3 credits</strong></p>
      </div>
      <div class="col-md-4">
        <a href="/secrets">
        <img class="bigSquareButton col-md-12 align=" center" src="https://raw.githubusercontent.com/musicis3965/RRRresources/master/song%20requests%20button.jpg" alt="requestButton">
        </a>
        <p class="display-3" style="color: white; font-size: 3rem; text-shadow: 2px 2px 8px #111111;"><strong>Requires 1 credit</strong></p>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
<%- include('partials/contactUs') %>
<%- include('partials/footer') %>

<script>
  $( document ).ready(function() {
    var credit = parseInt($("#creditValue").text());
    if (credit < 3) {
      document.getElementById("shoutout").innerHTML = '<img class="bigSquareButton col-md-12 align=" center" src="https://raw.githubusercontent.com/musicis3965/RRRresources/master/record%20a%20shoutout.jpg" alt="shoutoutButton"><p class="display-3" style="color: white; font-size: 3rem; text-shadow: 2px 2px 8px #111111;"><strong>Requires 3 credits</strong></p>';

      return;
    }
  });
</script>
