<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="pageTwo">
  <br />
  <br />
  <br />
  <br />


  <h2 style="color: white; text-shadow: 2px 2px 8px #111111;">Add a song to playlist!</h2>


  <form action="/submit" method="POST">
    <div class="form-group">
      <input type="text" readonly class="form-control text-center" id="songHolder" name="secret" placeholder="No song selected yet">
    </div>
    <button type="submit" class="btn btn-dark songSubmit">Submit</button>
  </form>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for song.." title="Search for Song">
  <ul id="myUL">
    <li><a href="#" onclick="reply_click(this)" songInfo="Aswad - Shine">Aswad - Shine</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Adamski - Killer">Adamski - Killer</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Adina Howard - Freak Like Me">Adina Howard - Freak Like Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="All Saints - Never Ever">All Saints - Never Ever</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Aqua - Barbie Girl">Aqua - Barbie Girl</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Big Mountain - Baby I Love Your Way">Big Mountain - Baby I Love Your Way</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Boyzone - Father And Son">Boyzone - Father And Son</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Brandy - I Wanna Be Down">Brandy - I Wanna Be Down</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Cher - Believe">Cher - Believe</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Color Me Badd - I Wanna Sex You Up">Color Me Badd - I Wanna Sex You Up</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Coolio Feat. L.V. - Gangsta's Paradise">Coolio Feat. L.V. - Gangsta's Paradise</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Corona - The Rhythm Of The Night">Corona - The Rhythm Of The Night</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Crystal Waters - Gypsy Woman (She's Homeless)">Crystal Waters - Gypsy Woman (She's Homeless)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="D-Ream - Things Can Only Get Better">D-Ream - Things Can Only Get Better</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Dario G - Sunchyme">Dario G - Sunchyme</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Dawn Penn - You Don't Love Me (No No No)">Dawn Penn - You Don't Love Me (No No No)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Dee-Lite - Groove Is In The Heart">Dee-Lite - Groove Is In The Heart</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Donna Lewis - I Love You Always Forever">Donna Lewis - I Love You Always Forever</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="East 17 - It's Alright">East 17 - It's Alright</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="En Vogue - My Lovin'">En Vogue - My Lovin'</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Fugees - Killing Me Softly">Fugees - Killing Me Softly</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Gabrielle - Dreams">Gabrielle - Dreams</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Gina G - Ohh Aah (Just A Little Bit)">Gina G - Ohh Aah (Just A Little Bit)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="K.D. Lang - Constant Craving">K.D. Lang - Constant Craving</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="K.W.S. - Please Don't Go">K.W.S. - Please Don't Go</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Kym Sims - To Blind Too See It">Kym Sims - To Blind Too See It</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Livin' Joy - Dreamer">Livin' Joy - Dreamer</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Los Del Rio - Macarena (Bayside Boys Remix)">Los Del Rio - Macarena (Bayside Boys Remix)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Marc Cohn - Walking In Memphis">Marc Cohn - Walking In Memphis</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Mark Morrison - Return Of The Mack">Mark Morrison - Return Of The Mack</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Natalie Imbruglia - Torn">Natalie Imbruglia - Torn</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Naughty By Nature - O.P.P.">Naughty By Nature - O.P.P.</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Pefecto Allstarz - Reach Up (Papa's Gotta Brand New Pig Bag)">Pefecto Allstarz - Reach Up (Papa's Gotta Brand New Pig Bag)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="PJ & Duncan - Let's Get Ready To Rumble">PJ & Duncan - Let's Get Ready To Rumble</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Robbie Williams - Millennium">Robbie Williams - Millennium</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Rozalla - Everybody's Free (To Feel Good)">Rozalla - Everybody's Free (To Feel Good)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="S Club 7 - Bring It All Back">S Club 7 - Bring It All Back</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Shakespear's Sister - Stay">Shakespear's Sister - Stay</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Shola Ama - You Might Need Somebody">Shola Ama - You Might Need Somebody</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Simply Red - Fairground">Simply Red - Fairground</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Sinead O'Connor - Nothing Compares 2 U">Sinead O'Connor - Nothing Compares 2 U</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Sixpence None The Richer - Kiss Me">Sixpence None The Richer - Kiss Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Skee Lo - I Wish">Skee Lo - I Wish</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Snow - Informer">Snow - Informer</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Spice Girls - Wannabe">Spice Girls - Wannabe</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Steps - Tragedy">Steps - Tragedy</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Suggs - Cecelia">Suggs - Cecelia</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The All Seeing I - Beat Goes On">The All Seeing I - Beat Goes On</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The B-52's - Love Shack">The B-52's - Love Shack</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Beautiful South - A Little Time">The Beautiful South - A Little Time</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Brand New Heavies - Midnight At The Oasis">The Brand New Heavies - Midnight At The Oasis</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Corrs - Dreams">The Corrs - Dreams</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Ethics - La Luna">The Ethics - La Luna</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Family Stand - Ghetto Heaven">The Family Stand - Ghetto Heaven</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Lisa Marie Experience - Keep On Jumpin' (Blizzard Inc Remix)">The Lisa Marie Experience - Keep On Jumpin' (Blizzard Inc Remix)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Outhere Brothers - Boom Boom Boom">The Outhere Brothers - Boom Boom Boom</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Rembrandts - I'll Be There For You">The Rembrandts - I'll Be There For You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="hey Might Be Giants - Birdhouse In Your Soul">They Might Be Giants - Birdhouse In Your Soul</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="TLC - No Scrubs">TLC - No Scrubs</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Urban Cookie Collection - The Key, The Secret">Urban Cookie Collection - The Key, The Secret</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Vanilla Ice - Ice Ice Baby">Vanilla Ice - Ice Ice Baby</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Wet Wet Wet - Love Is All Around">Wet Wet Wet - Love Is All Around</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Whigfield - Saturday Night">Whigfield - Saturday Night</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Camila Cabello - Havana (feat. Young Thug)">Camila Cabello - Havana (feat. Young Thug)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Charlie Puth - Attention">Charlie Puth - Attention</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Christina Aguilera ft Demi Lovato - Fall In Line">Christina Aguilera ft Demi Lovato - Fall In Line</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Emily Osment - 1-800 Clap Your Hands">Emily Osment - 1-800 Clap Your Hands</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="grandson - 6:00">grandson - 6:00</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Jaden Smith - Watch Me">Jaden Smith - Watch Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="JAY Z & LINKIN PARK - Numb/Encore">JAY Z & LINKIN PARK - Numb/Encore</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Kesha - VIP">Kesha - VIP</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Kesha - Woman">Kesha - Woman</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Linkin Park - Bleed It Out">Linkin Park - Bleed It Out</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Offspring - Coming for You">The Offspring - Coming for You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Fall Out Boy - Stay Frosty Royal Milk Tea">Fall Out Boy - Stay Frosty Royal Milk Tea</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Fastball - The Way">Fastball - The Way</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Fifth Harmony - That's My Girl">Fifth Harmony - That's My Girl</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="grandson - Apologize">grandson - Apologize</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="grandson - Stick Up">grandson - Stick Up</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Jimmy Eat World - Pain">Jimmy Eat World - Pain</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Kesha - Blow - Cirkut Remix">Kesha - Blow - Cirkut Remix</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Kesha - Boogie Feet ft Eagles of Death Metal">Kesha - Boogie Feet ft Eagles of Death Metal</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Kesha - Out Alive">Kesha - Out Alive</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Lady Gaga - A-Yo">Lady Gaga - A-Yo</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Linkin Park - In The End">Linkin Park - In The End</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Linkin Park, Steve Aoki - A LIGHT THAT NEVER COMES">Linkin Park, Steve Aoki - A LIGHT THAT NEVER COMES</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Machine Gun Kelly, Camila Cabello - Bad Things">Machine Gun Kelly, Camila Cabello - Bad Things</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Maroon 5 - Harder to Breathe">Maroon 5 - Harder to Breathe</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Michael Jackson - Behind the Mask">Michael Jackson - Behind the Mask</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="OneRepublic - Love Runs Out">OneRepublic - Love Runs Out</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Panic! At the Disco - High Hopes">Panic! At the Disco - High Hopes</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="portugal. the man - feel it still">portugal. the man - feel it still</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Salena Gomez - Bad Liar">Salena Gomez - Bad Liar</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Salena Gomez - Birthday">Salena Gomez - Birthday</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Selena Gomez - Same Old Love">Selena Gomez - Same Old Love</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Selena Gomez - Slow Down">Selena Gomez - Slow Down</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Selena Gomez and The Scene - Love You Like A Love Song">Selena Gomez and The Scene - Love You Like A Love Song</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Selena Gomez, Marshmello - Wolves">Selena Gomez, Marshmello - Wolves</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Sir SLy - &Run">Sir SLy - &Run</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Sofi Tukker - That's It (I'm Crazy)">Sofi Tukker - That's It (I'm Crazy)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Taylor Swift - Look What You Made Me Do">Taylor Swift - Look What You Made Me Do</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Killers - Somebody Told Me">The Killers - Somebody Told Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Struts - Body Talks (feat. Kesha)">The Struts - Body Talks (feat. Kesha)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Struts - Kiss This">The Struts - Kiss This</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Ting Tings - Shut Up and Let Me Go">The Ting Tings - Shut Up and Let Me Go</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Yellowcard - Lights And Sounds">Yellowcard - Lights And Sounds</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Zedd, Maren Morris, Grey - The Middle">Zedd, Maren Morris, Grey - The Middle</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Akon - Right Now (Na Na NA)">Akon - Right Now (Na Na NA)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Alicia Keys - No One">Alicia Keys - No One</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="B.o.B, Bruno Mars - Nothin' On You">B.o.B, Bruno Mars - Nothin' On You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Chris Brown - Forever">Chris Brown - Forever</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Chris Brown - With You">Chris Brown - With You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Chris Brown, T-Pain - Kiss Kiss">Chris Brown, T-Pain - Kiss Kiss</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Cobra Starship, Leighton Meester - Good Girls Go Bad">Cobra Starship, Leighton Meester - Good Girls Go Bad</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Enrique Iglesias, Pitbull - I Like It">Enrique Iglesias, Pitbull - I Like It</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="3OH!3 - DONTTRUSTME">3OH!3 - DONTTRUSTME</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Avril Lavigne - Girlfriend">Avril Lavigne - Girlfriend</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Jason Derulo - Ridin' Solo">Jason Derulo - Ridin' Solo</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Kevin Rudolf, Lil Wayne - Let it Rock">Kevin Rudolf, Lil Wayne - Let it Rock</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Chris Brown - Yea 3x">Chris Brown - Yea 3x</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Young Money, Lloyd - BedRock">Young Money, Lloyd - BedRock</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Far East Movement, The Cataracs, DEV - Like A G6">Far East Movement, The Cataracs, DEV - Like A G6</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Flo Rida - Right Round">Flo Rida - Right Round</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Gym Class Heroes, Adam Levine - Stereo Hearts">Gym Class Heroes, Adam Levine - Stereo Hearts</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Gwen Stefani, Akon - The Sweet Escape">Gwen Stefani, Akon - The Sweet Escape</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Jason Derulo - In My Head">Jason Derulo - In My Head</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="JoJo - Too Little, Too Late">JoJo - Too Little, Too Late</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Jordin Sparks, Chris Brown - No Air">Jordin Sparks, Chris Brown - No Air</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Kesha - Tik Tok">Kesha - Tik Tok</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Lady Gaga - Paparazzi">Lady Gaga - Paparazzi</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Lady Gaga - Poker Face">Lady Gaga - Poker Face</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Lady Gaga, Colby O'Donnis - Just Dance">Lady Gaga, Colby O'Donnis - Just Dance</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Mike Posner, Gigamesh - Cooler Than Me">Mike Posner, Gigamesh - Cooler Than Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ne-Yo - Miss Independent">Ne-Yo - Miss Independent</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Nelly - Just A Dream">Nelly - Just A Dream</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Nelly Furtado - Say It Right">Nelly Furtado - Say It Right</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Rihanna - Disturbia">Rihanna - Disturbia</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Rihanna - Don't Stop The Music">Rihanna - Don't Stop The Music</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Rihanna - S.O.S.">Rihanna - S.O.S.</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Sean Kingston - Beautiful Girls">Sean Kingston - Beautiful Girls</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Sean Kingston - Fire Burning">Sean Kingston - Fire Burning</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Taio Cruz - Dynamite">Taio Cruz - Dynamite</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Taio Cruz, Ludacris - Break Your Heart">Taio Cruz, Ludacris - Break Your Heart</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Black Eyed Peas - I Gotta Feeling">The Black Eyed Peas - I Gotta Feeling</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Black Eyed Peas - Meet Me Halfway">The Black Eyed Peas - Meet Me Halfway</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Black Eyed Peas - Where is the Love">The Black Eyed Peas - Where is the Love</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Usher, Jeezy - Love in This Club">Usher, Jeezy - Love in This Club</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Usher, Pitbull - DJ Got Us Fallin' In Love">Usher, Pitbull - DJ Got Us Fallin' In Love</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Usher, will.i.am - OMG">Usher, will.i.am - OMG</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Adele - Hello">Adele - Hello</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Adele - Water Under the Bridge">Adele - Water Under the Bridge</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Alicia Keys, A$AP Rocky - Blended Family (What You Do For Love)">Alicia Keys, A$AP Rocky - Blended Family (What You Do For Love)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ariana Grande - Dangerous Woman">Ariana Grande - Dangerous Woman</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Bee Gees - Stayin' Alive">Bee Gees - Stayin' Alive</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Beyonce, Dixie Chicks - Daddy Lessons">Beyonce, Dixie Chicks - Daddy Lessons</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="BJ The Chicago Kid - Turnin' Me Up">BJ The Chicago Kid - Turnin' Me Up</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="blink-182 - She's Out Of Her Mind">blink-182 - She's Out Of Her Mind</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Bob Moses - Tearing Me Up">Bob Moses - Tearing Me Up</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Bon Iver - 29 #Strafford APTS">Bon Iver - 29 #Strafford APTS</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Brandy Clark - Love Can Go to Hell">Brandy Clark - Love Can Go to Hell</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Bruno Mars - That's What I Like">Bruno Mars - That's What I Like</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Cage The Elephant - Trouble">Cage The Elephant - Trouble</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Carrie Underwood - Church Bells">Carrie Underwood - Church Bells</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Chance The Rapper, Kanye West, Chicago Children's Choir - All We Got">Chance The Rapper, Kanye West, Chicago Children's Choir - All We Got</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="David Bowie - Lazarus">David Bowie - Lazarus</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Disturbed - The Sound Of Silence">Disturbed - The Sound Of Silence</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Drake - Hotline Bling">Drake - Hotline Bling</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Drake, WizKid, Kyla - One Dance">Drake, WizKid, Kyla - One Dance</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="A Tribe Called Quest - We The People">A Tribe Called Quest - We The People</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Bryson Tiller - Exchange">Bryson Tiller - Exchange</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Chance The Rapper, Justin Bieber, Towkio - Juke Jam">Chance The Rapper, Justin Bieber, Towkio - Juke Jam</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Chance The Rapper, Lil Wayne, 2 Chainz - No Problem">Chance The Rapper, Lil Wayne, 2 Chainz - No Problem</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="D.R.A.M., Lil Yachty - Broccoli">D.R.A.M., Lil Yachty - Broccoli</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Demi Lovato - Confident">Demi Lovato - Confident</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Desiigner - Panda">Desiigner - Panda</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Drake - Pop Style">Drake - Pop Style</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Drake, Rihanna - Too Good">Drake, Rihanna - Too Good</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Fat Joe, Remy Ma, French Montana, InfaRed - All The Way Up">Fat Joe, Remy Ma, French Montana, InfaRed - All The Way Up</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Flume, kai - Never Be Like You">Flume, kai - Never Be Like You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Highly Suspect - My Name is Human">Highly Suspect - My Name is Human</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Kanye West - Famous">Kanye West - Famous</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Kanye West - Ultralight Beam">Kanye West - Ultralight Beam</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Metallica - Hardwired">Metallica - Hardwired</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Mike Posner - I Took A Pill in Ibiza">Mike Posner - I Took A Pill in Ibiza</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="PARTYNEXTDOOR, Drake - Come and See Me">PARTYNEXTDOOR, Drake - Come and See Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Rihanna - Kiss It Better">Rihanna - Kiss It Better</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Rihanna - Needed ME">Rihanna - Needed ME</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Rihanna, Drake - Work">Rihanna, Drake - Work</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ro James - Permission">Ro James - Permission</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="ScHoolboy Q, Kanye West">ScHoolboy Q, Kanye West</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Weekend, Daft Punk - Starboy">The Weekend, Daft Punk - Starboy</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Tory Lanez - LUV">Tory Lanez - LUV</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Gallant - Weight in Gold">Gallant - Weight in Gold</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Iggy Pop - Gardenia">Iggy Pop - Gardenia</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="John Legend - Love Me Now">John Legend - Love Me Now</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="John Legend, Cynthia Erivo - God Only Knows">John Legend, Cynthia Erivo - God Only Knows</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Justin Bieber - Love Yourself">Justin Bieber - Love Yourself</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Justin Bieber - Sorry">Justin Bieber - Sorry</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Katy Perry - Rise">Katy Perry - Rise</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Keith Urban - Blue Ain't Your Color">Keith Urban - Blue Ain't Your Color</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Kelsea Ballerini - Peter Pan">Kelsea Ballerini - Peter Pan</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="KING - The Greates">KING - The Greates</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Lukas Graham - 7 Years">Lukas Graham - 7 Years</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Maren Morris - My Church">Maren Morris - My Church</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Megadeth - Dystopia">Megadeth - Dystopia</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Mike Will Made It, Lil Yachty, Carly Rae Jepsen - It Takes Two">Mike Will Made It, Lil Yachty, Carly Rae Jepsen - It Takes Two</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Maranda Lambert - Vice">Maranda Lambert - Vice</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Musiq Soulchild - I Do">Musiq Soulchild - I Do</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Panic! At The Disco - Death Of A Bachelor">Panic! At The Disco - Death Of A Bachelor</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Radiohead - Burn the Witch">Radiohead - Burn the Witch</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Riton, Kah-Lo - Rinse & Repeat (feat. Kah-Lo)">Riton, Kah-Lo - Rinse & Repeat (feat. Kah-Lo)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Sia, Sean Paul - Cheap Thrills">Sia, Sean Paul - Cheap Thrills</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Sofi Tukker - Drinkee">Sofi Tukker - Drinkee</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Solange - Cranes in the Sky">Solange - Cranes in the Sky</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Sturgill Simpson - Brace For Impact (Live A Little)">Sturgill Simpson - Brace For Impact (Live A Little)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="turgill Simpson - In Bloom">Sturgill Simpson - In Bloom</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Chainsmokers, Daya - Don't Let Me Down">The Chainsmokers, Daya - Don't Let Me Down</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="The Chainsmokers, Halsey - Closer">The Chainsmokers, Halsey - Closer</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="the weekend, daft punk - i feel it coming">the weekend, daft punk - i feel it coming</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Thomas Rhett - Die A Happy Man">Thomas Rhett - Die A Happy Man</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Twenty One Pilots - Heathens">Twenty One Pilots - Heathens</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Twenty One Pilots - Stressed Out">Twenty One Pilots - Stressed Out</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Weezer - Thank God For Girls">Weezer - Thank God For Girls</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="William Bell - The Three Of Me">William Bell - The Three Of Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ace of Base - The Sign">Ace of Base - The Sign</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Aerosmith - I Don't Want to Miss a Thing">Aerosmith - I Don't Want to Miss a Thing</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Alexandra Stan - Mr. Saxobeat - Radio Edit">Alexandra Stan - Mr. Saxobeat - Radio Edit</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Alice Deejay - Better Off Alone">Alice Deejay - Better Off Alone</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="All Time Low - Dear Maria, Count Me In">All Time Low - Dear Maria, Count Me In</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Aly and AJ - Potential Breakup Song">Aly and AJ - Potential Breakup Song</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Aly and AJ - Take Me">Aly and AJ - Take Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Aqua - Barbie Girl">Aqua - Barbie Girl</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ariana Grande - Dangerous Woman">Ariana Grande - Dangerous Woman</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ariana Grande ft Nicki Minaj - Side to Side">Ariana Grande ft Nicki Minaj - Side to Side</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ariana Grande, The Weekend - Love Me Harder">Ariana Grande, The Weekend - Love Me Harder</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ashlee Simpson - Boyfriend">Ashlee Simpson - Boyfriend</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ashlee Simpson - Pieces Of Me">Ashlee Simpson - Pieces Of Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ashley Tisdale - Voices In My Head">Ashley Tisdale - Voices In My Head</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="ATC - All Around The World">ATC - All Around The World</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Audioslave - Cochise">Audioslave - Cochise</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Audioslave - Like a Stone">Audioslave - Like a Stone</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Avril Lavigne - Hot">Avril Lavigne - Hot</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Avril Lavigne - My Happy Ending">Avril Lavigne - My Happy Ending</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Backstreet Boys - Don't Go Breaking My Heart">Backstreet Boys - Don't Go Breaking My Heart</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Backstreet Boys - Everybody (Backstreet's Back)">Backstreet Boys - Everybody (Backstreet's Back)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Backstreet Boys - I Want It That Way">Backstreet Boys - I Want It That Way</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Backstreet Boys - Quit Playing Games (With My Heart)">Backstreet Boys - Quit Playing Games (With My Heart)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Backstreet Boys - Shape of My Heart">Backstreet Boys - Shape of My Heart</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Barenaked Ladies - One Week">Barenaked Ladies - One Week</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Beck - Loser">Beck - Loser</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Beyonce - Halo">Beyonce - Halo</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Billy Joel - The River of Dreams">Billy Joel - The River of Dreams</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Blackstreet, Dr. Dre, Queen Pen - No Diggity">Blackstreet, Dr. Dre, Queen Pen - No Diggity</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="blink-182 - All The Small Things">blink-182 - All The Small Things</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="blink-182 - I Miss You">blink-182 - I Miss You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="blink-182 - Wat's My Age Again">blink-182 - Wat's My Age Again</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Blues Traveler - Hook">Blues Traveler - Hook</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Blur - Song 2">Blur - Song 2</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Bowling For Soup - Stacy's Mom">Bowling For Soup - Stacy's Mom</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Breaking Benjamin - The Diary Of Jane">Breaking Benjamin - The Diary Of Jane</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Britney Spears - ...Baby One More Time">Britney Spears - ...Baby One More Time</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Britney Spears - (You Drive Me) Crazy">Britney Spears - (You Drive Me) Crazy</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Britney Spears - Gimme More">Britney Spears - Gimme More</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Britney Spears - Oops!...I Did It Again">Britney Spears - Oops!...I Did It Again</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Britney Spears - Piece of Me">Britney Spears - Piece of Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Britney Spears - Sometimes">Britney Spears - Sometimes</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Britney Spears - Toxic">Britney Spears - Toxic</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Britney Spears - Womanizer">Britney Spears - Womanizer</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Bruno Mars - Gernade"> Bruno Mars - Gernade</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Bruno Mars - Marry You">Bruno Mars - Marry You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Cage the Elephant - Ain't No Rest For the Wicked">Cage the Elephant - Ain't No Rest For the Wicked</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Cake - The Distance">Cake - The Distance</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Cascada - Evacuate the Dancefloor">Cascada - Evacuate the Dancefloor</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Cascada - Everytime We Touch">Cascada - Everytime We Touch</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Celine Dion - Because You Loved Me">Celine Dion - Because You Loved Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Celine Dion - My Heart Will Go On">Celine Dion - My Heart Will Go On</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Charli XCX - Boom Clap">Charli XCX - Boom Clap</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Cher Lloyd - Want U Back">Cher Lloyd - Want U Back</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Chris Cornell - Scream">Chris Cornell - Scream</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Christina Aguilera - Genie in a Bottle">Christina Aguilera - Genie in a Bottle</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Christina Aguilera - What a Girl Wants">Christina Aguilera - What a Girl Wants</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Chumbawamba - Tubthumping">Chumbawamba - Tubthumping</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ciara, Missy Elliott - One, Two Step">Ciara, Missy Elliott - One, Two Step</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Coldplay - Paradise">Coldplay - Paradise</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Coldplay - Viva La Vida">Coldplay - Viva La Vida</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Coldplay - Yellow">Coldplay - Yellow</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Corona - The Rhythm of the Night">Corona - The Rhythm of the Night</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Counting Crows - Mr. Jones">Counting Crows - Mr. Jones</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Counting Crows, Vanessa Carlton - Big Yellow Taxi">Counting Crows, Vanessa Carlton - Big Yellow Taxi</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Crazy Town - Butterfly">Crazy Town - Butterfly</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="David Guetta - Sexy Bitch (feat. Akon)">David Guetta - Sexy Bitch (feat. Akon)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="David Guetta, Kelly Rowland - When Love Takes Over (feat. Kelly Rowland)">David Guetta, Kelly Rowland - When Love Takes Over (feat. Kelly Rowland)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="David Guetta, Kid Cudi - Memories (feat. Kid Cudi)">David Guetta, Kid Cudi - Memories (feat. Kid Cudi)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="David Guetta, Sia - Titanium">David Guetta, Sia - Titanium</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Days Of The New - Touch, Peel And Stand">Days Of The New - Touch, Peel And Stand</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Deep Blue Something - Breakfast At Tiffany's">Deep Blue Something - Breakfast At Tiffany's</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Default - Wasting My Time">Default - Wasting My Time</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Demi Lovato - Neon Lights">Demi Lovato - Neon Lights</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Demi Lovato - Sober">Demi Lovato - Sober</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Demi Lovato - Sorry Not Sorry">Demi Lovato - Sorry Not Sorry</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Des'ree - You Gotta Be">Des'ree - You Gotta Be</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Destiny's Child - Bills, Bills, Bills">Destiny's Child - Bills, Bills, Bills</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Destiny's Child - Jumpin', Jumpin'">Destiny's Child - Jumpin', Jumpin'</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Destiny's Child - Say My Name">Destiny's Child - Say My Name</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="DEV - In The Dark">DEV - In The Dark</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="DEV, Enrique Iglesias - Naked">DEV, Enrique Iglesias - Naked</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Diddy - Dirty Money, Skylar Grey - Coming Home">Diddy - Dirty Money, Skylar Grey - Coming Home</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Dinosaur Pile-Up - 11 11 - Radio Edit">Dinosaur Pile-Up - 11 11 - Radio Edit</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Dishwalla - Counting Blue Cars">Dishwalla - Counting Blue Cars</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Dixie Chicks - Cowboy Take Me Away">Dixie Chicks - Cowboy Take Me Away</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Dizzee Rascal, Calvin Harris - Hype">Dizzee Rascal, Calvin Harris - Hype</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="DJ Jazzy Jeff & The Fresh Prince - The Fresh Prince of Bel-Air">DJ Jazzy Jeff & The Fresh Prince - The Fresh Prince of Bel-Air</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="DNCE - TV In The Morning">DNCE - TV In The Morning</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Drake - Hotline Bling">Drake - Hotline Bling</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Dream - He Loves You Not">Dream - He Loves You Not</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Dua Lipa - New Rules">Dua Lipa - New Rules</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Eagle-Eye Cherry - Save Tonight">Eagle-Eye Cherry - Save Tonight</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Eiffel 65 - Blue (Da Ba Dee) - DJ Ponte Ice Pop Radio">Eiffel 65 - Blue (Da Ba Dee) - DJ Ponte Ice Pop Radio</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Ellie Goulding - Lights - Single Version">Ellie Goulding - Lights - Single Version</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Elton John - I Just Can't Wait to be King">Elton John - I Just Can't Wait to be King</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Emily Osment - All the Boys Want">Emily Osment - All the Boys Want</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Emily Osment - Drift">Emily Osment - Drift</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Emily Osment - Let's Be Friends"> </a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Emily Osment - Lovesick">Emily Osment - Lovesick</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="Emily Osment - Marisol"> </a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo=" "> </a></li>

  </ul>
  <ul id="perminant">
    <li><a href="https://form.jotform.com/90425651008148">Can't find song? Submit here for next time!</a></li>
  </ul>
  <br>
  <br>
  <!-- <ul id="choiceUL">
  <li class="selectedSong">songs in queue</li>
</ul> -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



<%- include('partials/contactUs') %>
  <%- include('partials/footer') %>
</div>
<script>

    var credit = parseInt($("#creditValue").text());
  // var config = {
  //   apiKey: "AIzaSyC00quFEG9k5bBjnv41jOjiw7OqXUhsvec",
  //   authDomain: "test-d07c1.firebaseapp.com",
  //   databaseURL: "https://test-d07c1.firebaseio.com",
  //   projectId: "test-d07c1",
  //   storageBucket: "test-d07c1.appspot.com",
  //   messagingSenderId: "732186583743"
  // };
  // firebase.initializeApp(config);
  //
  // var database = firebase.database();
  // var songData = database.ref().child('/songData/');
  // var ref = firebase.database().ref().child('/songData/');
  var ul = document.getElementById("myUL"),
    input = document.getElementById("myInput"),
    li = ul.getElementsByTagName("li");




  function myFunction() {
    // we are defining are variables (a, i and
    //txtValue are not defined until the for loop)
    var filter, a, i, txtValue;
    //input equals the myInput element
    // filter seems to be taking the input value and
    //forcing it uppercase
    filter = input.value.toUpperCase();
    // ul (unordered list?) is getting the inital list

    if (filter == "") {
      ul.style.display = "none"
      // console.log("if is working")
    } else {
      ul.style.display = "block"
      // console.log("else is working")
    };

    // li (list items) is equal to the li in the html

    // console.log("this is in my function" + filter);

    // if integer equals 0 and i is less than the length of the number of
    //list items, we increase i plus one and execute...
    for (i = 0; i < li.length; i++) {
      // list item number, getting element by the anchor tag, zero array
      a = li[i].getElementsByTagName("a")[0];
      // txtValue variable equals textContent OR inner text of anchor tag
      txtValue = a.textContent || a.innerText;
      //
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }

    }

  }

  // // ADDS CLICKED LIST ITEM TO DATABASE!!!!! YAASSSS
  //   $('#myUL').on("click", "li", function() {
  //   var clickChoice = $(this).text();
  // // attempt to get it to dissapear on click
  //   // document.getElementById('#myUL')ul.style.display = " ";
  //    songData.push({name : clickChoice,
  //                   value : 1 });
  //
  //
  //
  // // console.log('this is songData ' + songInPlay)
  // });

  function reply_click(element) {
    document.getElementById('songHolder').value = element.getAttribute('songInfo');
  }



  //
  // ref.on("child_added", function(snapshot){
  //     var key = snapshot.val().name;
  //     var songValue = snapshot.val().value;
  //     console.log('this is snapshot ' + snapshot)
  //     // console.log('this is the song value' + songValue)
  //   $("#choiceUL").append(
  //   $("<li>").addClass("selectedSong").html('<p>' + key + '</p>')
  // .append($('<input type="button" class="downVote" value="down vote"/><input class="voteValue" type="text" readonly value="1"/><input type="button" class="upVote" value="up vote"/>')))
  //   // console.log('this is song value' + songValue)
  // });
  //   // console.log('this is song value' + songValue)
  // $(document).on("click", ".upVote", function() {
  //   var input = $(this).parent().find('.voteValue')
  //   var valueNew = parseInt(input.val(), 10);
  //  valueNew = isNaN(valueNew) ? 0 : valueNew;
  //   valueNew++;
  //   input.val(valueNew);
  //
  //                   // songData.update({value: valueNew});
  //                   // console.log(database);
  //
  //
  //
  // });
  //
  //
  // $(document).on("click", ".downVote", function() {
  //   var input = $(this).parent().find('.voteValue')
  //   var valueNew = parseInt(input.val(), 10);
  //  value = isNaN(valueNew) ? 0 : valueNew;
  //
  //   if (valueNew > 0) {
  //     valueNew--;
  //     input.val(valueNew)
  //   }
  //
  // });
</script>
