<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="pageTwo">
  <br />
  <br />
  <br />
  <br />


  <h2 style="color: white; text-shadow: 2px 2px 8px #111111;">Add a song to playlist!</h2>


  <form action="/submit" method="POST">
    <div class="form-group">
      <input type="text" readonly class="form-control text-center" id="songHolder" name="secret" placeholder="No song selected yet">
    </div>
    <button type="submit" class="btn btn-dark songSubmit">Submit</button>
  </form>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for song.." title="Search for Song">
  <ul id="myUL">
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Aswad - Shine</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Adamski - Killer</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Adina Howard - Freak Like Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">All Saints - Never Ever</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Aqua - Barbie Girl</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Big Mountain - Baby I Love Your Way</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Boyzone - Father And Son</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Brandy - I Wanna Be Down</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Cher - Believe</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Color Me Badd - I Wanna Sex You Up</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Coolio Feat. L.V. - Gangsta's Paradise</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Corona - The Rhythm Of The Night</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Crystal Waters - Gypsy Woman (She's Homeless)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">D-Ream - Things Can Only Get Better</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Dario G - Sunchyme</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Dawn Penn - You Don't Love Me (No No No)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Dee-Lite - Groove Is In The Heart</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Donna Lewis - I Love You Always Forever</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">East 17 - It's Alright</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">En Vogue - My Lovin'</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Fugees - Killing Me Softly</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Gabrielle - Dreams</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Gina G - Ohh Aah (Just A Little Bit)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">K.D. Lang - Constant Craving</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">K.W.S. - Please Don't Go</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Kym Sims - To Blind Too See It</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Livin' Joy - Dreamer</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Los Del Rio - Macarena (Bayside Boys Remix)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Marc Cohn - Walking In Memphis</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Mark Morrison - Return Of The Mack</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Natalie Imbruglia - Torn</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Naughty By Nature - O.P.P.</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Pefecto Allstarz - Reach Up (Papa's Gotta Brand New Pig Bag)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">PJ & Duncan - Let's Get Ready To Rumble</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Robbie Williams - Millennium</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Rozalla - Everybody's Free (To Feel Good)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">S Club 7 - Bring It All Back</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Shakespear's Sister - Stay</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Shola Ama - You Might Need Somebody</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Simply Red - Fairground</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Sinead O'Connor - Nothing Compares 2 U</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Sixpence None The Richer - Kiss Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Skee Lo - I Wish</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Snow - Informer</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Spice Girls - Wannabe</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Steps - Tragedy</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Suggs - Cecelia</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">The All Seeing I - Beat Goes On</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">The B-52's - Love Shack</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">The Beautiful South - A Little Time</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">The Brand New Heavies - Midnight At The Oasis</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">The Corrs - Dreams</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">The Ethics - La Luna</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">The Family Stand - Ghetto Heaven</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">The Lisa Marie Experience - Keep On Jumpin' (Blizzard Inc Remix)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">The Outhere Brothers - Boom Boom Boom</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">The Rembrandts - I'll Be There For You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">They Might Be Giants - Birdhouse In Your Soul</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">TLC - No Scrubs</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Urban Cookie Collection - The Key, The Secret</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Vanilla Ice - Ice Ice Baby</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Wet Wet Wet - Love Is All Around</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Whigfield - Saturday Night</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Camila Cabello - Havana (feat. Young Thug)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Charlie Puth - Attention</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Christina Aguilera ft Demi Lovato - Fall In Line</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Emily Osment - 1-800 Clap Your Hands</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">grandson - 6:00</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Jaden Smith - Watch Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">JAY Z & LINKIN PARK - Numb/Encore</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Kesha - VIP</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Kesha - Woman</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Linkin Park - Bleed It Out</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">The Offspring - Coming for You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Fall Out Boy - Stay Frosty Royal Milk Tea</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Fastball - The Way</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Fifth Harmony - That's My Girl</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">grandson - Apologize</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">grandson - Stick Up</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Jimmy Eat World - Pain</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Kesha - Blow - Cirkut Remix</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Kesha - Boogie Feet ft Eagles of Death Metal</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Kesha - Out Alive</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Lady Gaga - A-Yo</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Linkin Park - In The End</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Linkin Park, Steve Aoki - A LIGHT THAT NEVER COMES</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Machine Gun Kelly, Camila Cabello - Bad Things</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Maroon 5 - Harder to Breathe</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Michael Jackson - Behind the Mask</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">OneRepublic - Love Runs Out</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Panic! At the Disco - High Hopes</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">portugal. the man - feel it still</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Salena Gomez - Bad Liar</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Salena Gomez - Birthday</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Selena Gomez - Same Old Love</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Selena Gomez - Slow Down</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Selena Gomez and The Scene - Love You Like A Love Song</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Selena Gomez, Marshmello - Wolves</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Sir SLy - &Run</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Sofi TUkker - That's It (I'm Crazy)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Taylor Swift - Look What You Made Me Do</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">The Killers - Somebody TOld Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">The Struts - Body Talks (feat. Kesha)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">The Struts - Kiss This</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">The Ting Tings - Shut Up and Let Me Go</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Yellowcard - Lights And Sounds</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Zedd, Maren Morris, Grey - The Middle</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Akon - Right Now (Na Na NA)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Alicia Keys - No One</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">B.o.B, Bruno Mars - Nothin' On You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Chris Brown - Forever</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Chris Brown - With You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Chris Brown, T-Pain - Kiss Kiss</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Cobra Starship, Leighton Meester - Good Girls Go Bad</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Enrique Iglesias, Pitbull - I Like It</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">3OH!3 - DONTTRUSTME</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Avril Lavigne - Girlfriend</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Jason Derulo - Ridin' Solo</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Kevin Rudolf, Lil Wayne - Let it Rock</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Chris Brown - Yea 3x</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Young Money, Lloyd - BedRock</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Far East Movement, The Cataracs, DEV - Like A G6</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Flo Rida - Right Round</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Gym Class Heroes, Adam Levine - Stereo Hearts</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Gwen Stefani, Akon - The Sweet Escape</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Jason Derulo - In My HEad</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">JoJo - Too Little, Too Late</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Jordin Sparks, Chris Brown - No Air</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Kesha - Tik Tok</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Lady Gaga - Paparazzi</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Lady Gaga - Poker Face</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Lady Gaga, Colby O'Donnis - Just Dance</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Mike Posner, Gigamesh - Cooler Than Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Ne-Yo - Miss Independent</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Nelly - Just A Dream</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Nelly Furtado - Say It Right</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Rihanna - Disturbia</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Rihanna - Don't Stop The Music</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Rihanna - S.O.S.</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Sean Kingston - Beautiful GIrls</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Sean Kingston - Fire Burning</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Taio Cruz - Dynamite</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Taio Cruz, Ludacris - Break Your Heart</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">The Black Eyed Peas - I Gotta Feeling</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">The Black Eyed Peas - Meet Me Halfway</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">The Black Eyed Peas - Where is the Love</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Usher, Jeezy - Love in This Club</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Usher, Pitbull - DJ Got Us Fallin' In Love</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Usher, will.i.am - OMG</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Adele - Hello</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Adele - Water Under the Bridge</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Alicia Keys, A$AP Rocky - Blended Family (What You Do For Love)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Ariana Grande - Dangerous Woman</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Bee Gees - Stayin' Alive</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Beyonce, Dixie Chicks - Daddy Lessons</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">BJ The Chicago Kid - Turnin' Me Up</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">blink-182 - She's Out Of Her Mind</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Bob Moses - Tearing Me Up</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Bon Iver - 29 #Strafford APTS</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Brandy Clark - Love Can Go to Hell</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Bruno Mars - That's What I Like</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Cage The Elephant - Trouble</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Carrie Underwood - Church Bells</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Chance The Rapper, Kanye West, Chicago Children's Choir - All We Got</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">David Bowie - Lazarus</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Disturbed - The Sound Of Silence</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Drake - Hotline Bling</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Drake, WizKid, Kyla - One Dance</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">A Tribe Called Quest - We The People</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Bryson Tiller - Exchange</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Chance The Rapper, Justin Bieber, Towkio - Juke Jam</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Chance The Rapper, Lil Wayne, 2 Chainz - No Problem</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">D.R.A.M., Lil Yachty - Broccoli</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Demi Lovato - Confident</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Desiigner - Panda</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Drake - Pop Style</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Drake, Rihanna - Too Good</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Fat Joe, Remy Ma, French Montana, InfaRed - All The Way Up</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Flume, kai - Never Be Like You</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Highly Suspect - My Name is Human</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Kanye West - Famous</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Kanye West - Ultralight Beam</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Metallica - Hardwired</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Mike Posner - I Took A Pill in Ibiza</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">PARTYNEXTDOOR, Drake - Come and See Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Rihanna - Kiss It Better</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Rihanna - Needed ME</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Rihanna, Drake - Work</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Ro James - Permission</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">ScHoolboy Q, Kanye West</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">The Weekend, Daft Punk - Starboy</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Tory Lanez - LUV</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Gallant - Weight in Gold</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Iggy Pop - Gardenia</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">John Legend - Love Me Now</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">John Legend, Cynthia Erivo - GOd ONly Knows</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Justin Bieber - Love Yourself</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Justin Bieber - Sorry</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Katy Perry - Rise</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Keith Urban - Blue Ain't Your Color</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Kelsea Ballerini - Peter Pan</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">KING - The Greates</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Lukas Graham - 7 Years</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Maren Morris - My Church</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Megadeth - Dystopia</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Mike Will Made It, Lil Yachty, Carly Rae Jepsen - It Takes Two</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Maranda Lambert - Vice</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Musiq Soulchild - I Do</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Panic! At The Disco - Death Of A Bachelor</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Radiohead - Burn the Witch</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Riton, Kah-Lo - Rinse & Repeat (feat. Kah-Lo)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Sia, Sean Paul - Cheap Thrills</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Sofi Tukker - Drinkee</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Solange - Cranes in the Sky</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Sturgill Simpson - Brace For Impact (Live A Little)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Sturgill Simpson - In Bloom</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">The Chainsmokers, Daya - Don't Let Me Down</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">The Chainsmokers, Halsey - Closer</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">the weekend, daft punk - i feel it coming</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Thomas Rhett - Die A Happy Man</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Twenty One Pilots - Heathens</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Twenty One Pilots - Stressed Out</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Weezer - Thank God For Girls</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">William Bell - The Three Of Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Ace of Base - The Sign</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Aerosmith - I Don't Want to Miss a Thing</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Alexandra Stan - Mr. Saxobeat - Radio Edit</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Alice Deejay - Better Off Alone</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">All Time Low - Dear Maria, Count Me In</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Aly and AJ - Potential Breakup Song</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Aly and AJ - Take Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Aqua - Barbie Girl</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Ariana Grande - Dangerous Woman</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Ariana Grande ft Nicki Minaj - Side to Side</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Ariana Grande, The Weekend - Love Me Harder</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Ashlee Simpson - Boyfriend</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Ashlee Simpson - Pieces Of Me</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Ashley Tisdale - Voices In My Head</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">ATC - All Around The World</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Audioslave - Cochise</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song1">Audioslave - Like a Stone</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song2">Avril Lavigne - Hot</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song3">Avril Lavigne - My Happy Ending</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song4">Backstreet Boys - Don't Go Breaking My Heart</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song5">Backstreet Boys - Everybody (Backstreet's Back)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song6">Backstreet Boys - I Want It That Way</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song7">Backstreet Boys - Quit Playing Games (With My Heart)</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song8">Backstreet Boys - Shape of My Heart</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song9">Barenaked Ladies - One Week</a></li>
    <li><a href="#" onclick="reply_click(this)" songInfo="song10">Beck - Loser</a></li>
  </ul>
  <ul id="perminant">
    <li><a href="https://form.jotform.com/90425651008148">Can't find song? Submit here for next time!</a></li>
  </ul>
  <br>
  <br>
  <!-- <ul id="choiceUL">
  <li class="selectedSong">songs in queue</li>
</ul> -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



<%- include('partials/contactUs') %>
  <%- include('partials/footer') %>
</div>
<script>

    var credit = parseInt($("#creditValue").text());
  // var config = {
  //   apiKey: "AIzaSyC00quFEG9k5bBjnv41jOjiw7OqXUhsvec",
  //   authDomain: "test-d07c1.firebaseapp.com",
  //   databaseURL: "https://test-d07c1.firebaseio.com",
  //   projectId: "test-d07c1",
  //   storageBucket: "test-d07c1.appspot.com",
  //   messagingSenderId: "732186583743"
  // };
  // firebase.initializeApp(config);
  //
  // var database = firebase.database();
  // var songData = database.ref().child('/songData/');
  // var ref = firebase.database().ref().child('/songData/');
  var ul = document.getElementById("myUL"),
    input = document.getElementById("myInput"),
    li = ul.getElementsByTagName("li");




  function myFunction() {
    // we are defining are variables (a, i and
    //txtValue are not defined until the for loop)
    var filter, a, i, txtValue;
    //input equals the myInput element
    // filter seems to be taking the input value and
    //forcing it uppercase
    filter = input.value.toUpperCase();
    // ul (unordered list?) is getting the inital list

    if (filter == "") {
      ul.style.display = "none"
      // console.log("if is working")
    } else {
      ul.style.display = "block"
      // console.log("else is working")
    };

    // li (list items) is equal to the li in the html

    // console.log("this is in my function" + filter);

    // if integer equals 0 and i is less than the length of the number of
    //list items, we increase i plus one and execute...
    for (i = 0; i < li.length; i++) {
      // list item number, getting element by the anchor tag, zero array
      a = li[i].getElementsByTagName("a")[0];
      // txtValue variable equals textContent OR inner text of anchor tag
      txtValue = a.textContent || a.innerText;
      //
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }

    }

  }

  // // ADDS CLICKED LIST ITEM TO DATABASE!!!!! YAASSSS
  //   $('#myUL').on("click", "li", function() {
  //   var clickChoice = $(this).text();
  // // attempt to get it to dissapear on click
  //   // document.getElementById('#myUL')ul.style.display = " ";
  //    songData.push({name : clickChoice,
  //                   value : 1 });
  //
  //
  //
  // // console.log('this is songData ' + songInPlay)
  // });

  function reply_click(element) {
    document.getElementById('songHolder').value = element.getAttribute('songInfo');
  }



  //
  // ref.on("child_added", function(snapshot){
  //     var key = snapshot.val().name;
  //     var songValue = snapshot.val().value;
  //     console.log('this is snapshot ' + snapshot)
  //     // console.log('this is the song value' + songValue)
  //   $("#choiceUL").append(
  //   $("<li>").addClass("selectedSong").html('<p>' + key + '</p>')
  // .append($('<input type="button" class="downVote" value="down vote"/><input class="voteValue" type="text" readonly value="1"/><input type="button" class="upVote" value="up vote"/>')))
  //   // console.log('this is song value' + songValue)
  // });
  //   // console.log('this is song value' + songValue)
  // $(document).on("click", ".upVote", function() {
  //   var input = $(this).parent().find('.voteValue')
  //   var valueNew = parseInt(input.val(), 10);
  //  valueNew = isNaN(valueNew) ? 0 : valueNew;
  //   valueNew++;
  //   input.val(valueNew);
  //
  //                   // songData.update({value: valueNew});
  //                   // console.log(database);
  //
  //
  //
  // });
  //
  //
  // $(document).on("click", ".downVote", function() {
  //   var input = $(this).parent().find('.voteValue')
  //   var valueNew = parseInt(input.val(), 10);
  //  value = isNaN(valueNew) ? 0 : valueNew;
  //
  //   if (valueNew > 0) {
  //     valueNew--;
  //     input.val(valueNew)
  //   }
  //
  // });
</script>
